version: "3.8"

services:
  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: todo-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

