apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: zabbix-agent
  namespace: ops
spec:
  selector:
    matchLabels:
      app: zabbix-agent
  template:
    metadata:
      labels:
        app: zabbix-agent
    spec:
      hostNetwork: true
      containers:
        - name: zabbix-agent
          image: zabbix/zabbix-agent2:ubuntu-7.0.2
          imagePullPolicy: IfNotPresent
          env:
            - name: ZBX_HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: ZBX_SERVER_HOST
              value: "172.25.0.100"
            - name: ZBX_SERVER_PORT
              value: "10051"
            - name: ZBX_ACTIVE_ALLOW
              value: "true"
            - name: ZBX_PASSIVE_ALLOW
              value: "false"
          securityContext:
            privileged: true
          volumeMounts:
            - name: proc
              mountPath: /proc
              readOnly: true
            - name: sys
              mountPath: /sys
              readOnly: true
            - name: root
              mountPath: /rootfs
              readOnly: true
      volumes:
        - name: proc
          hostPath:
            path: /proc
        - name: sys
          hostPath:
            path: /sys
        - name: root
          hostPath:
            path: /
